{% extends "::layout/base.html.twig" %}

{% block titre %} PABX - Télécommunication -  {{ parent() }}{% endblock %}

{% block description %}
    Un standard téléphonique PABX est un terminal que vous achetez et faites installer au sein de votre entreprise.
{% endblock %}

{% block body %}

    <h3 class="title"><span class="pull-left">PABX</span><span class="pull-right"><a href="{{ path('site_frontend_telecom') }}">Télécommunication</a></span></h3>
            <div class="row">

                <div class="col-md-4">
                    <a href="{{ asset('img/telecom/pabx.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img alt="PABX - Athea Group" src="{{ asset('img/telecom/pabx.jpg') }}"></a>
                    <div class="row">
                        <ul class="thumbnails small">
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/pabx/pabx2.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img src="{{ asset('img/telecom/pabx/pabx2.jpg') }}" alt="PABX - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/pabx/pabx3.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img src="{{ asset('img/telecom/pabx/pabx3.jpg') }}" alt="PABX - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/pabx/pabx4.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img src="{{ asset('img/telecom/pabx/pabx4.jpg') }}" alt="PABX - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/pabx/pabx1.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img src="{{ asset('img/telecom/pabx/pabx1.jpg') }}" alt="PABX - Athea Group"></a>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="col-md-8">

                    <h3><span class="success">Présentation</span></h3>
                    <p class="leadPerso">
                    <p class="leadPerso"><b>Un standard téléphonique PABX est un terminal que vous achetez et faites installer au sein de votre entreprise.</b></p>

                    <p class="leadPerso">PABX signifie Private Automatic Branch eXchange (autocommutateur téléphonique privé).

                        Le PABX fonctionne à la base pour des lignes de téléphone traditionnelles (analogiques), et non pour des lignes de téléphonie en Voix sur IP (illimité via internet).

                        Mais attention, ce n'est pas si simple :<br /> nombreux sont les PABX qui peuvent accepter de la voix sur IP grâce à l'ajout d'une carte VoIP.</p><br />

                    </p>
                </div>
            </div>
            <hr/>
    <div class="row">

        <div class="col-md-3">
            <img src="{{ asset('img/telecom/pabx/em2.jpg') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <img src="{{ asset('img/telecom/pabx/em1.jpg') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <div class="row">
                <ul class="thumbnails small">

                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <h4>eMG80</h4>
            <div class="span6">
            <p>
            <p class="leadPerso">
                    <b class="leadPerso">Simple et facile à installer et gérer :</b>
                <ul class="leadPerso">
                    <li>Assistant installation</li>
                    <li>Administration intuitive</li>
                    <li>Bilingue anglais et locale</li>
                </ul>
                <p class="leadPerso">VoIP et mobilité extensible
                    16 canaux  max pour la voix sur IP (VoIP)
                    Mobilité On/Off:  Pour travail a distance a bas prix.
                    Prend en charge les T0, T2 et va jusqu’à 140 utilisateurs.
                    iPECS communicator est:
                    Un client SIP pour les Smartphones.
                    Faible coût en changeant les appels téléphonique du réseau cellulaire par un réseau wifi gratuit
                    Fonctionne sur Android et IOS.
            </p>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            <img src="{{ asset('img/telecom/pabx/ph1.jpg') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <img src="{{ asset('img/telecom/pabx/ph2.jpg') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <div class="row">
                <ul class="thumbnails small">

                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <h4>iPECS Phontage</h4>
            <div class="span6">
                <p class="leadPerso">
                <p class="leadPerso">iPECS Phontage n'est pas un agent CTI mais un téléphone virtuel intégré sur votre PC. Vous pouvez découvrir une communication portable transparente et une productivité améliorant la collaboration.
                </p>
                <b>Voix en haute qualité:</b>
                <ul class="leadPerso">
                    <li>Haute qualité, w/GIPS </li>
                    <li>Supporte de multiples codecs (G.711 & 729)</li>
                    <li>QoS, annulation du bruit, Contrôle de gain auto</li>
                    <li>Vidéo conférence, jusqu’à 3 membres </li>
                    <li>Chambre de conférence virtuelle, groupe de conférence.</li>
                </ul>

                </p>

            </div>
        </div>
    </div>
    <hr/>
    <div class="row">

        <div class="col-md-3">
            <img src="{{ asset('img/telecom/pabx/em3.jpg') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <div class="row">
                <ul class="thumbnails small">

                </ul>
            </div>
        </div>

        <div class="col-md-9">


            <div class="span6">
                <p class="leadPerso">
                <div class="row-fluid">
                    <div class="col-md-6">
                        <h4>Aria Soho</h4>
                        <a href="{{ asset('img/telecom/pabx/a2.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img alt="PABX - Athea Group" src="{{ asset('img/telecom/pabx/a2.jpg') }}"></a>
                    </div>
                    <div class="col-md-6">
                        <h4>IPECS</h4>
                        <a href="{{ asset('img/telecom/pabx/a3.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img alt="PABX - Athea Group" src="{{ asset('img/telecom/pabx/a3.jpg') }}"></a>
                    </div>
                </div>
                </p>

            </div>
        </div>
    </div>
    <hr/>
    <div class="row">

        <div class="col-md-3">
            <img src="{{ asset('img/telecom/pabx/ph2.jpg') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <div class="row">
                <ul class="thumbnails small">

                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <h4>Nos terminaux propriétaires</h4>
            <div class="span6">
                <p class="leadPerso">
                     <div class="row-fluid">
                          <div class="col-md-6">
                              <a href="{{ asset('img/telecom/pabx/em4.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img alt="PABX - Athea Group" src="{{ asset('img/telecom/pabx/em4.jpg') }}"></a>
                          </div>
                          <div class="col-md-6">
                              <a href="{{ asset('img/telecom/pabx/a4.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="PABX - Athea Group"><img alt="PABX - Athea Group" src="{{ asset('img/telecom/pabx/a4.jpg') }}"></a>
                          </div>
                     </div>

                </p>

            </div>
        </div>
    </div>
{% endblock %}