{% extends "::layout/base.html.twig" %}

{% block titre %} Télécommunication -  {{ parent() }}{% endblock %}

{% block body %}
            <h3 class="title"><span class="pull-left">Télécommunication</span><span class="pull-right"><a href=""></a></span></h3>
            <div class="row">
            <div class="product_listing">
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <a href="{{ path('site_frontend_telecom_telemetrie') }}"><img class="img" src="{{ asset('img/telecom/telemetrie.jpg') }}" alt="Télémetrie - Athea Group" title="Télémetrie - Athea Group"></a>
                    <a href="{{ path('site_frontend_telecom_telemetrie') }}" class="title">Télémetrie</a> <span class="label"></span><br/>
                    <p>La Télémétrie est une technique de gestion à distance.Elle prend en compte...</p>
                    <a href="#" class="subinfo"></a>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <a href="{{ path('site_frontend_telecom_videoSurveillance') }}"><img class="img" src="{{ asset('img/telecom/vp.jpg') }}" alt="Vidéos Protection - Athea Group" title="Vidéos Protection - Athea Group"></a>
                    <a href="{{ path('site_frontend_telecom_videoSurveillance') }}" class="title">Vidéos Protection</a> <span class="label"></span><br/>
                    <p>La vidéoprotection ou vidéosurveillance, parfois désignée par le sigle anglais CCTV (closed-circuit television), est...</p>
                    <a href="#" class="subinfo"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <a href="{{ path('site_frontend_telecom_pabx') }}"><img class="img" src="{{ asset('img/telecom/pabx.jpg') }}" alt="PABX - Athea Group" title="PABX - Athea Group"></a>
                    <a href="{{ path('site_frontend_telecom_pabx') }}" class="title">PABX</a> <span class="label"></span><br/>
                    <p>Un standard téléphonique PABX est un terminal que vous achetez et faites installer au sein de votre entreprise... </p>
                    <a href="#" class="subinfo"></a>
                </div>
            </div>
            </div>
            </div>

{% endblock %}