{% extends "::layout/base.html.twig" %}
{% block titre %} Vidéos Protection - Télécommunication - {{ parent() }}{% endblock %}

{% block description %}
    La Télémétrie est une technique de gestion à distance. Elle prend en compte le contrôle d’accès, la vidéo surveillance, la mesure en consommation d'énergie et bien d'autres selon le domaine d'application( agricole, médecine, télécoms...)
{% endblock %}

{% block body %}

            <h3 class="title"><span class="pull-left">Vidéos Protection</span><span class="pull-right"><a href="{{ path('site_frontend_telecom') }}">Télécommunication</a></span></h3>
            <div class="row">

                <div class="col-md-4">
                    <a href="{{ asset('img/telecom/vp.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Vidéos Protection - Athea Group"><img alt="Vidéos Protection - Athea Group" src="{{ asset('img/telecom/vp.jpg') }}"></a>
                    <div class="row">
                        <ul class="thumbnails small">
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/vp/vp2.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Vidéos Protection - Athea Group"><img src="{{ asset('img/telecom/vp/vp2.jpg') }}" alt="Vidéos Protection - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/vp/vp3.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Vidéos Protection - Athea Group"><img src="{{ asset('img/telecom/vp/vp3.jpg') }}" alt="Vidéos Protection - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/vp/vp4.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Vidéos Protection - Athea Group"><img src="{{ asset('img/telecom/vp/vp4.jpg') }}" alt="Vidéos Protection - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/vp/vp5.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Vidéos Protection - Athea Group"><img src="{{ asset('img/telecom/vp/vp5.jpg') }}" alt="Vidéos Protection - Athea Group"></a>
                            </li>
                            <li class="col-md-4">
                                <a href="{{ asset('img/telecom/vp/vp6.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Vidéos Protection - Athea Group"><img src="{{ asset('img/telecom/vp/vp6.jpg') }}" alt="Vidéos Protection - Athea Group"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">

                    <h3><span class="success">Description</span></h3>
                    <p class="leadPerso">
                    <p class="leadPerso" > La vidéoprotection ou vidéosurveillance, parfois désignée par le sigle anglais CCTV (closed-circuit television), est un système de caméras et de transmission d'images, disposé dans un espace public ou privé pour le surveiller à distance ; il s'agit donc d'un type de télésurveillance. Les images obtenues avec ce système, peuvent être traitées automatiquement et/ou visionnées puis archivées ou détruites. La surveillance a pour but de contrôler les conditions de respect de la sécurité, de la sûreté ou de l'exécution d'une procédure particulière.</p>
                    <p class="leadPerso">Le principe de filmer et de contrôler un phénomène à distance a été utilisé pendant la Seconde Guerre mondiale par les Allemands pour des raisons de sûreté : pour observer le lancement de leurs missiles. Mais on ne parle de télésurveillance stricto sensu qu'à partir du moment où le système est industrialisé et permet à un opérateur (surveillant) de contrôler simultanément plusieurs lieux sur une batterie d'écrans, ceci à des fins civiles.</p>

                    <br/><h3>Exemple d'utilisation</h3>
                    <p class="leadPerso">Ma maison protège automatiquement mon entourage et mes biens contre les aléas de la vie ! Intrusion, incendie, inondation, fuite d’eau ? Je garde l’esprit tranquille ! </p>

                    <p class="leadPerso"><b>Vidéosurveillance HD pour avoir l’esprit tranquille:</b>
                        Imaginez … Vous êtes en train de cuisinez tranquillement, et vous souhaitez toujours gardez un oeil sur vos enfants qui sont en train de jouer dans la piscine ou dans leurs chambres. Ceci est possible grâce à un écran tactile encastré dans votre cuisine, équipé d’un superviseur, vous permet:</p>

                    <p class="leadPerso"><b>Prévention des risques domestiques:</b>
                        Pourquoi ne pas rendre votre système d’alarme classique intelligent, en le connectant au système domotique global ? Ainsi, sur déclenchement d’un détecteur incendie, en plus du retentissement de la sirène d’alarme, tout l’éclairage de la maison clignote. Vous quittez votre domicile ? Votre maison coupe automatiquement les circuits d’alimentations de vos plaques électriques, ou ferme les vannes de gaz. Vous partez l’esprit tranquille en limitant les risques d’incendie.</p>

                    <p class="leadPerso"><b>Simulation de présence pour dissuader les intrus :</b>
                        Vous vous absentez de votre domicile pour une période plu ou moins longue ? Activez des scénarios de simulation de présence, qui varient de jour en jour. Votre éclairage s’allument et s’éteignent aléatoirement, vos ouvrants s’ouvrent et se ferment à heures fixes, et votre musique s’active plus ou moins fort.</p>

                    <p class="leadPerso"><b>Athea Group est spécialisée dans le déploiement de systèmes sur IP: </b>
                    <ul>
                        <li class="leadPerso">Audit de vos besoins en terme d’images et de transmissions</li>
                        <li class="leadPerso">Conseil et choix des solutions de vidéosurveillance</li>
                        <li class="leadPerso">Installation de caméras, de faisceaux hertzien, de lien ADSL ou fibre optique</li>
                        <li class="leadPerso">Formation et aide à l’utilisation</li>
                        <li class="leadPerso">Maintenance des systèmes </li></ul></p>

                    <p class="leadPerso">Grâce à notre expérience, nous mettons à votre disposition tout notre savoir-faire afin de répondre à vos besoins en matière de vidéoprotection.
                        Notre professionnalisme et notre expérience reconnus nous permettent de réaliser l’intégration complète de votre système clé en main.
                        Nous répondons principalement à des besoins de vidéoprotection et vidéosurveillance mais nous pouvons étudier toutes caméras ou de transmission sur IP (radio, ADSL …)
                    </p>


                    </p>
                </div>
            </div>
{% endblock %}