<!DOCTYPE html>
<html lang='fr'>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}
        <title>{% block title %}Back Office Athea Group{% endblock %}</title>
        {% block stylesheets %}
            <!-- Import google fonts - Heading first/ text second -->
            <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />
            <!--[if lt IE 9]>
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
            <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
            <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
            <![endif]-->
            <!-- Css files -->
            <link rel="stylesheet" href="{{ asset('assets/css/main.min.css') }}" />
            <!-- Fav and touch icons -->
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/img/ico/apple-touch-icon-144-precomposed.png') }}">
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/img/ico/apple-touch-icon-114-precomposed.png') }}">
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/img/ico/apple-touch-icon-72-precomposed.png') }}">
            <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/img/ico/apple-touch-icon-57-precomposed.png') }}">
            <link rel="icon" href="{{ asset('assets/img/ico/logo.png') }}" type="image/png">

            {#<!-- Copyright © 2004. Spidersoft Ltd -->#}
            <style>
                A.applink:hover {border: 2px dotted #DCE6F4;padding:2px;background-color:#ffff00;color:green;text-decoration:none}
                A.applink       {border: 2px dotted #DCE6F4;padding:2px;color:#2F5BFF;background:transparent;text-decoration:none}
                A.info          {color:#2F5BFF;background:transparent;text-decoration:none}
                A.info:hover    {color:green;background:transparent;text-decoration:underline}
            </style>

        {% endblock %}
    </head>
    <body>

             {% include "::modules/barMenuLeft.html.twig" %}
             {% include "::modules/barMenuTop.html.twig" %}
             <div id="content">
                {% block body %}
                    {% block infosBar %} {% endblock %}
                     <div class="outlet">
                       {% block menuNotification %} {% endblock %}
                     </div>
                {% endblock %}
             </div>

        {% block javascripts %}
            <!-- Load pace first -->
            <script src="{{ asset('assets/plugins/core/pace/pace.min.js') }}"></script>
            <!-- Important javascript libs(put in all pages) -->
            <script src="{{ asset('assets/jquery-2.1.1.min.js') }}"></script>
            <script>
                window.jQuery || document.write('<script src="{{ asset('assets/jquery-2.1.1.min.js') }}">\x3C/script>')
            </script>
            <script src="{{ asset('assets/ui/1.10.4/jquery-ui.js') }}"></script>
            <script>
                window.jQuery || document.write('<script src="{{ asset('assets/ui/1.10.4/jquery-ui.js') }}">\x3C/script>')
            </script>
            <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset('assets/js/libs/excanvas.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/svn/trunk/html5.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/libs/respond.min.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('assets/js/pages/dashboard.js') }}"></script>
            <script src="{{ asset('assets/js/pages/data-tables.js') }}"></script>
            <script src="{{ asset('assets/js/pages/buttons.js') }}"></script>
            <script src="{{ asset('assets/plugins/core/pace/pace.min.js') }}"></script>
            <script src="{{ asset('bundles/sitefrontend/ckeditor/ckeditor.js') }}"></script>
        {% endblock %}
    </body>
</html>
