{% extends "FOSUserBundle::layout.html.twig" %}

{% block titre %} Authentification {{ parent() }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger" style="margin-top: 20px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

            <h3 class="title"><span class="pull-left">Connexion</span></h3>
            <div class="row">
                <div class="col-md-6">
                    <p><img src="{{ asset('img/connexion.png') }}"></p>
                    <h4>Pas encore inscrit ?</h4>
                    <p>Nous vous invitons à vous inscrire
                        afin de passer votre commande et de manger équilibré.
                        <br/><br/>
                        <a href="{{ path('fos_user_registration_register') }}" class="" style="color:#a3d495;">Créer un compte</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h4></h4>
                    <p></p>
                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                        <input type="hidden" class="form-control" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password"  class="form-control" id="password" name="_password" required="required" />
                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        </div>
                        <div class="form-group">
                            <a href="{{ path('fos_user_resetting_request') }}" style="color:#a3d495;">Mot de passe perdu</a>
                        </div>
                    </form>
                </div>
            </div>

{% endblock fos_user_content %}
