{% extends "::layout/base.html.twig" %}

{% block titre %} Matériel Médical -  {{ parent() }}{% endblock %}

{% block body %}
            <h3 class="title"><span class="pull-left">Matériel Médical</span><span class="pull-right"><a href=""></a></span></h3>
    <div class="left gap">
        <h3>ATHEA MEDICAL CARE </h3>
        <p class="leadPerso">ATHEA MEDICAL CARE est une filiale de l’entreprise ATHEA GROUP qui a pour domaine d’activités
            la distribution de matériels, consommables et d'accessoires de protection médicale individuelle : Protection auditive, protecteurs auditifs casques, protection individuelle, masques médicaux, blouses, combinaisons, calots, charlottes, coiffes, casquettes, tabliers, protège chaussures, surbottes, lunettes de protection...
        </p>
    </div>
    <hr>
          <div class="row">
                <div class="product_listing">
                    <div class="col-md-4 col-sm-6">
                        <div class="media-body">
                            <h4 class="media-heading">ACCESSOIRES MEDICAUX </h4>
                            <p>
                            <ul>
                                <li>INSTRUMENTS DE CHIRUGIE</li>
                                <li> DENTAIRES</li>
                                <li>INSTRUMENTS DE BEAUTE</li>
                                <li>MATERIELS DE PROTECTION</li>
                                <li>AUTRES MATERIELS</li>
                                <li>Divan et table d'examen</li>
                                <li>médicale Instruments<br/>
                                    - Garrots/bracelets d'identification<br/>
                                    - Instruments de chirurgie<br/>
                                    - Lunettes loupes<br/>
                                    - Outils à plâtre<br/>
                                    - Poires à lavements<br/>
                                    - Rasoirs, marqueurs<br/>
                                    - Récipients plastique<br/>
                                    - Stylo d'examen abaisse langue<br/>
                                    - Petit matériel médical
                                </li>

                                <li>Tensiomètre - Poignet<br/>
                                    - Bras<br/>
                                    - Manopoire<br/>
                                    - Accessoires tensiomètres
                                </li>

                            </ul>
                            </p>

                            <br/>

                            <div class="row">
                                <ul class="thumbnails small">
                                    <li class="col-md-4">
                                        <a href="{{ asset('img/medical/m2.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="ACCESSOIRES MEDICAUX- Athea Group"><img src="{{ asset('img/medical/m2.jpg') }}" alt="ACCESSOIRES MEDICAUX- Athea Group"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="media-body">
                            <h4 class="media-heading">Soins Examen</h4>
                            <p>
                            <ul>
                                <li>COMPRESSES / COTON</li>
                                <li>PANSEMENT SMITH & NEPHEW</li>
                                <li>MASQUE MEDICAL</li>
                                <li>BANDES</li>
                                <li>PANSEMENT HARTMANN</li>
                                <li>GANTS D'EXAMEN</li>
                                <li>SPARADRAP </li>
                                <li>PANSEMENT PREMIER SOINS</li>
                                <li>PROTECTION DIVERSE</li>
                                <li>SET DE SOINS</li>
                                <li>DRAPS D'EXAMEN/ ESSUIE MAINS </li>
                                <li>SERINGUE AIGUILLE<br/>
                                    - Aiguilles<br/>
                                    - Seringues<br/>
                                    - Cathéters micro-perfuseurs<br/>
                                    - Collecteurs d'aiguilles</li>
                            </ul>
                            </p>
                            <br/>
                            <div class="row">
                                <ul class="thumbnails small">
                                    <li class="col-md-4">
                                        <a href="{{ asset('img/medical/m1.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="SOINS EXAMEN - Athea Group"><img src="{{ asset('img/medical/m1.jpg') }}" alt="SOINS EXAMEN- Athea Group"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media-body">
                            <h4 class="media-heading">Relaxation Rééducation</h4>
                            <p>
                            <ul>
                                <li>ARTICLES DE SPORT</li>
                                <li>COMPRESSES THERMIQUES </li>
                                <li>CONFORT / BIEN</li>
                                <li>REEDUCATION MASSAGE</li>
                                <li>ELECTRO-STIMULATEUR </li>
                                <li>SOINS DES MAINS / PIEDS</li>
                                <li>FAUTEUIL RELEVEUR</li>
                                <li>PRODUITS CHAUFFANTS </li>
                                <li>TABLE DE MASSAGE</li>
                                <li>HYGIENE BUCCO DENTAIRE ELECTRO-STIMULATEUR</li>
                            </ul>
                            </p>
                            <br/>
                            <div class="row">
                                <ul class="thumbnails small">
                                    <li class="col-md-4">
                                        <a href="{{ asset('img/medical/m3.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Relaxation Rééducation - Athea Group"><img src="{{ asset('img/medical/m3.jpg') }}" alt="Relaxation Rééducation - Athea Group"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="product_listing">
                    <div class="col-md-4 col-sm-6">
                        <div class="media-body">
                            <h4 class="media-heading">Maintien à domicile</h4>
                            <p>
                            <ul>
                                <li>AIDE AU QUOTIDIEN</li>
                                <li>AIDES AUX REPAS</li>
                                <li>AIDE AU TRANSFERT</li>
                                <li>BARRE D'APPUI</li>
                                <li>BOITE A MEDICAMENT</li>
                                <li>DOUCHE</li>
                                <li>TOILETTES </li>
                                <li>URINAL,BASSIN</li>
                                <li>POCHE A URINE, SET DE SONDAGE</li>
                                <li>OREILLER, LITERIE</li>
                                <li>LIT ACCESSOIRES LIT MEDICALISE  </li>
                                <li>MATELAS MEDICAUX</li    >

                            </ul>
                            </p>
                            <br/>
                            <div class="row">
                                <ul class="thumbnails small">
                                    <li class="col-md-4">
                                        <a href="{{ asset('img/medical/m4.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Maintien à domicile - Athea Group"><img src="{{ asset('img/medical/m4.jpg') }}" alt="Relaxation Rééducation - Athea Group"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="media-body">
                            <h4 class="media-heading">Urgence médicale</h4>
                            <p>
                            <ul>
                                <li>ASPIRATEUR DE MUCOSITES </li>
                                <li>MANCHETTE A PRESSION</li>
                                <li>DEFIBRILLATEUR - REANIMATION</li>
                                <li>LARYNGOSCOPE</li>
                                <li> BOUCHE A BOUCHE</li>
                                <li>VALISE D'URGENCE</li>
                                <li>INSUFFLATEUR</li>
                                <li>PREMIERS SOINS  </li>
                                <li> BRANCARD CIVIERE </li>
                            </ul>
                            </p>
                            <br/>
                            <div class="row">
                                <ul class="thumbnails small">
                                    <li class="col-md-4">
                                        <a href="{{ asset('img/medical/m5.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Urgence médicale - Athea Group"><img src="{{ asset('img/medical/m5.jpg') }}" alt="Urgence médicale - Athea Group"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media-body">
                            <h4 class="media-heading">Maternité Puériculture</h4>
                            <p>
                            <ul>
                                <li>AThermomètre bébé </li>
                                <li>Hygiène</li>
                                <li> Pèse bébé / mesure</li>
                                <li>Maternité Divers</li>
                                <li>Biberon</li>
                                <li>  Tire lait </li>

                            </ul>
                            </p>
                            <br/>
                            <div class="row">
                                <ul class="thumbnails small">
                                    <li class="col-md-4">
                                        <a href="{{ asset('img/medical/m6.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Maternité Puériculture - Athea Group"><img src="{{ asset('img/medical/m6.jpg') }}" alt="Maternité Puériculture - Athea Group"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="gap" style="margin-top:30px;">
                <p class="leadPerso">
                    ATHEA MEDICAL CARE s’occupe également de l’hygiène de santé des personnes dans leur domaine d’activité et encourage la protection de la santé des autres dans les établissements scolaires et universitaires , et dans les bureaux.
                </p>
                <div class="row">
                    <ul class="thumbnails small">
                        <li class="col-md-4">
                            <a href="{{ asset('img/medical/m7.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Techniques d'hygiène des mains - Athea Group"><img src="{{ asset('img/medical/m7.jpg') }}" alt="Techniques d'hygiène des mains - Athea Group"></a>
                        </li>
                        <li class="col-md-4">
                            <a href="{{ asset('img/medical/m8.jpg') }}" class="thumbnail" data-fancybox-group="group1" title="Comment se laver les mains - Athea Group"><img src="{{ asset('img/medical/m8.jpg') }}" alt="Comment se laver les mains - Athea Group"></a>
                        </li>
                    </ul>
                </div>
            </div>

{% endblock %}